html {
	background-color: rgb(177, 158, 214);
	font-family: sans-serif;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(100, 9, 121, 1) 36%,
		rgba(0, 212, 255, 1) 100%
	);
}

label {
	font-size: 30px;
	padding: 20px 0px;
	letter-spacing: 2px;
	color: white;
}
